<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754260148515-isl296qr6c9em3maof2nrssqn1pv98bc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754260148515-isl296qr6c9em3maof2nrssqn1pv98bc</string>
	<key>API_KEY</key>
	<string>AIzaSyCInsk738ytIGyyNOfm119rbUISp65id-0</string>
	<key>GCM_SENDER_ID</key>
	<string>754260148515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.journey2</string>
	<key>PROJECT_ID</key>
	<string>ridealongdb-fe563</string>
	<key>STORAGE_BUCKET</key>
	<string>ridealongdb-fe563.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754260148515:ios:8b7cedc22cc1f0227acc96</string>
</dict>
</plist>